
<h1>Стартовая траница холодильника</h1>
<a href = '/newProd'>Добавить новый продукт в холодильник</a>
<div class="card-container">
  {{#each allProducts}}
  <div class="productcard">
  <img src="https://prodroiders.net/sites/default/files/uploads/app/icon/ugaday_produkt_tovar_edu_icon.png" alt="Avatar" style="width:100%">
    <h2>{{this.Name}}</h2>
    <p>Категория: {{this.Category.Name}}
    </p>
  </div>
  {{/each}}
</div>

